@charset "UTF-8";
h1{
  background-color: rgb(200, 000, 000);
}
h1{
  color: #9999FF
}

h1{
  text-align: center;
}
h1{
  color: #9999FF
}
.wrapper{
  text-align: center;
  font-family: woff;
  background-color: #9999FF
}

.img{
  text-align: center;
}

.watasu{
  font-family: fantasy;
  color: #9999FF
}
