@charset "UTF-8";
h1{
  background-color: #dc143c
;
}
html {
  color:    #4d2d1f;
  background:    #ccb3ff;
}


h1{
  text-align: center;
}
h1{
  color: #9999FF
}
.wrapper{
  text-align: center;
  font-family: woff;
  background-color: #9999FF
}

.img{
  text-align: center;
}

.watasu{
  font-family: fantasy;
  color: #9999FF
}
